body{
 background-color: rgb(205, 209, 212);
}


.responsive_logo{
 height:60px;
 left:5vw;
}

.icon {
    position: absolute;
    left: -15%;
    bottom: 20%;
    width: 15px;
    height: 35px;
    display: block;
}

.loader{
 z-index: 100;
 margin-top: 40vh;
 visibility: visible;
}

.preloader_img{
 max-width: 200px;
 animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (mAX-width: 800px) {
 .responsive_logo{
   float:left  !important; 
   right: 5px  !important;
   height:50px;
 }
}
